
Ressex_Project/.vs/Ressex_Project/v16/.suo
Ressex_Project/.vs/Ressex_Project/v16/.suo
Ressex_Project/.vs/Ressex_Project/v16/.suo
Ressex_Project/.vs/Ressex_Project/v16/.suo
Ressex_Project/.vs/Ressex_Project/v16/.suo
*.cache
Ressex_Project/.vs/Ressex_Project/v16/.suo
Ressex_Project/.vs/Ressex_Project/v16/.suo
*.cache
*.dll
Ressex_Project/.vs/Ressex_Project/v16/.suo
*.cache
Ressex_Project/.vs/Ressex_Project/v16/.suo
Ressex_Project/Ressex_Project/bin/Ressex_Project.pdb
Ressex_Project/Ressex_Project/bin/Ressex_Project.dll
Ressex_Project/Ressex_Project/obj/Debug/Ressex_Project.csproj.AssemblyReference.cache
Ressex_Project/Ressex_Project/obj/Debug/Ressex_Project.csproj.CoreCompileInputs.cache
Ressex_Project/Ressex_Project/obj/Debug/Ressex_Project.csproj.AssemblyReference.cache
Ressex_Project/Ressex_Project/obj/Debug/Ressex_Project.dll
Ressex_Project/Ressex_Project/obj/Debug/Ressex_Project.pdb
Ressex_Project/.vs/Ressex_Project/v16/.suo
Ressex_Project/.vs/Ressex_Project/v16/.suo
Ressex_Project/.vs/Ressex_Project/config/applicationhost.config
Ressex_Project/Ressex_Project/bin/Ressex_Project.dll
Ressex_Project/Ressex_Project/bin/Ressex_Project.pdb
Ressex_Project/Ressex_Project/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Ressex_Project/Ressex_Project/obj/Debug/Ressex_Project.csproj.CoreCompileInputs.cache
Ressex_Project/Ressex_Project/obj/Debug/Ressex_Project.csproj.FileListAbsolute.txt
Ressex_Project/Ressex_Project/obj/Debug/Ressex_Project.dll
Ressex_Project/Ressex_Project/obj/Debug/Ressex_Project.pdb
Ressex_Project/.vs/Ressex_Project/v16/.suo
