
$body-bg: #ffffff;
$bg-gradient: linear-gradient(180deg, #ADB8D9 0%, #E96366 100%);;
$bg-gradient2: linear-gradient(180deg, rgba(232, 89, 91, 0.6) 0%, rgba(232, 89, 91, 0) 74.2%);
// Color
$text-color-1:#1B1A3D;
$text-color-2:#E8595B;
$text-color-3:#ADB8D9;
$text-color-4: #000000;
$text-color-5: #192447;
$text-color-6: #E31E24;
$text-color-7: #636774;
$text-color-8: #6B6F81;
$text-color-9: #D9D9D9;
$color-white: #fff;
$color-black: #000000;
$color-blue: #2B00AE;

// Fonts
$font-poppins: 'Poppins', sans-serif;
$font-inter:'Inter', sans-serif;
$font-weight-300: 300;
$font-weight-400: 400;
$font-weight-500: 500;
$font-weight-600: 600;
$font-weight-700: 700;

body{
    background: $body-bg;
    font-family: $font-poppins;    
    color: $text-color-5;
    margin: 0;
    font-size: 0.875rem;
    line-height: 1.5em;
    display: flex;
    flex-direction: column;
    height: 100%;
    font-weight: $font-weight-500;
}
ul, ol{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.font-w-300{
    font-weight: $font-weight-300 !important;
}
.font-w-400{
    font-weight: $font-weight-400 !important;
}
.font-w-500{
    font-weight: $font-weight-500 !important;
}
.font-w-600{
    font-weight: $font-weight-600 !important;
}
.font-w-700{
  font-weight: $font-weight-700 !important;
}
.line-height-1 {
    line-height: 1;
}
.pointer{
    cursor: pointer !important;
}
.underline{
    text-decoration: underline;
}
.text16px{
    font-size: 16px !important;
}
.flex-1{
    flex: 1;
}
.heading{
    font-size: 1rem;
}
.pl-20, .px-20 {
    padding-left: 1.25rem!important;
}
.pr-20, .px-20 {
    padding-right: 1.25rem !important;
}
.mr-20px{
    margin-right: 20px !important;
}
.ml-20px{
    margin-left: 20px !important;
}
.pb-100{
  padding-bottom: 100px !important;
}
h3{
    font-size: 1.5rem;
}
p:last-child{
  margin-bottom: 0;
}
.color-red{
    color: $text-color-6 !important;
}
.text-style2{
  color: $text-color-7;
  font-weight: 500;
  font-size: 1.25rem;
  line-height: 30px;
}
.text20px{
  font-size: 1.25rem;
}


.btn{
    min-height: 40px;
  }
  .text-primary {
      color: var(--ress-color-1) !important;
  }
  .text-secondary {
    color: $text-color-2 !important;
  }
  .text-small{
    font-size: 0.625rem;
    line-height: normal;
  }
  .btn-grey{
    background: rgba(174, 183, 216, 0.5);
    border-radius: 5px;
    color: $text-color-2;
  }
  .btn-dark-blur{
    background: $text-color-5;
    border-radius: 5px;
    color: $color-white;
  }
  
  a {
      color: #4C6ED9;
  }
    a.text-primary:hover, a.text-primary:focus {
      color: var(--ress-color-1) !important;
      text-decoration: none;
  }
    .border-secondary{
      border-color: var(--border-bolor-2) !important;
  }
  
    /* form */
  .form-control{
      border-color: var(--ress-color-6);
      font-size: inherit;
    }
    .form-control:focus{
      border-color: #adb8d9;
      box-shadow: 0 0 0 0.2rem rgb(173 184 217 / 22%);
    }
    .form-control::placeholder{
      color: var(--ress-color-6);
      font-size: inherit;
    }
    .btn{
      border-radius: 5px;
      font-size: inherit;
    }
    .btn.focus, .btn:focus{
      box-shadow: none;
    }
    .form-group label{
        font-weight: 400;
    }
    .btn-red{
      background: $text-color-6;
      border-radius: 10px;
      color: $color-white;  
      font-size: 1rem;
      font-weight: 500;
      &:hover{
        background: $text-color-5;
        color: $color-white;
      }
    }
    .btn.btn-outline-primary {
      border-color: $text-color-2;
      color: $text-color-2;
      min-height: 30px;
      &:hover{
        border-color: $text-color-2;
        color: $color-white;
        background: $text-color-2;
      } 
    }
    .btn.btn-outline-primary:not(:disabled):not(.disabled).active{
      background: rgba(174, 183, 216, 0.5);
      border-color: $text-color-2;
      color: $text-color-2;
    }
    .btn-outline-primary:not(:disabled):not(.disabled).active:focus, .btn-outline-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-outline-primary.dropdown-toggle:focus{
      box-shadow: 0 0 2px 2px #e8595b8f;
    }
    .btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
      border-color: $text-color-2;
        color: $color-white;
        background: $text-color-2;
    }

// Date Picker overried
.daterangepicker td.active, .daterangepicker td.active:hover{
  background-color: $text-color-6;
}
.btn.cancelBtn{
  border-color: $text-color-6;
  min-height: auto;
  color: $text-color-2;
}
.btn.applyBtn{
  background-color: $text-color-6;
  min-height: auto;
  border-color: $text-color-6;
}
/* Dropdown */
.dropdown-menu{
    padding: 0;
    border-radius: 0;
    border: 0;
    min-width: 14.375rem;
    font-size: inherit;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.dropdown-item{
    padding: .25rem;
    font-size: 0.688rem;
    color: inherit;
    font-weight: inherit;
}
.dropdown-item:hover, .dropdown-item.active, .dropdown-item:active{
    background-color: rgba(232, 89, 91, 0.050);
    color: inherit;
}
.dropdown-toggle.hasIcon::after{
    width: 13px;
    height: 8px;
    border: 0;
    margin: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: .75rem;
    background: url(../images/chevron-down.svg) no-repeat center center;
    z-index: 1;
}
.dropdown-toggle.hasIcon.arrowStyle2::after{
    background: url(../images/dropdown-arrow.svg) no-repeat center center;
}
.dropdown.show .dropdown-toggle.hasIcon::after, .btn-group.show .dropdown-toggle.hasIcon.arrowStyle2::after {
    transform: translateY(-50%) rotate(180deg);
}

// Header
.header-wrapper{
  background: $bg-gradient;
  width: 100%;
  color: $text-color-1;
}
#toTop {
  padding: 0;
  background: #E96366;
  color: #fff;
  position: fixed;
  bottom: 10px;
  right: 10px;
  display: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  box-shadow: 0 0 10px 1px #E96366;
  &:hover{
    text-decoration: none;
  }
}
.lf-logo-header {
    height: 24px;
}
.headerNavbar{
  height: 100px;
}
.headerTitle{
  font-size: 1.875rem;
  font-weight: 500;
  line-height: 45px;
}
.avatarImg{
  width: 75px;
  height: 75px;
  object-fit: cover;
  border-radius: 68px;
}
.noToggleIcon::after{
  display: none;
}
.mainMenuDropdown{
  margin-top: 1.9em;
}
.dropdownHeading{
  color: $color-white;
  background: rgb(76,110,217);
  background: linear-gradient(90deg, #4c6ed9 -27.05%, #e8595b 124.92%);
  padding: .3rem .75rem;
  font-size: .75rem;
}
.dropdown-menu-inner{
  margin: 0;
  padding: 0;
}
.dropdown-menu-inner li{
  border-bottom: 1px solid var(--border-bolor-2);
}
.dropdown-menu-inner li:last-child{
  border-bottom: 0
}
.btn-group.show .toggleIcon {
    transform: rotate(180deg);
}
.lf-logo-header{
  height: 24px;
}
.headerSearch{
  width: 100%;
  // max-width: calc(100% - 57rem);
  max-width: 1002px;
  position: relative;
  margin-top: -32px;
  .btn-red{
    height: 64px;
    width: 112px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }
}

.filterDropdown{
  width: 180px;
}
.searchGroup{
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    padding: 7px 0;
    background: $color-white;
}
.projectsSearchBox .inputWithIcon .form-control{
    border-radius: 10px 0 0 10px;
    color: $text-color-5;
    font-size: 1rem;
    font-weight: 400;
}
.projectsSearchBox .inputWithIcon .form-control::placeholder{
    color: #A3ACCC;
    font-size: 1rem;
    font-weight: 400;
}
.btn-white{
    border-radius: 0 10px 10px 0;
    color: $text-color-5;
    font-size: 1rem;
    font-weight: 500;
}

.btn-white, .projectsSearchBox .inputWithIcon .form-control{
  background: $color-white;
  min-height: 50px;
}
.projectsSearchBox .inputWithIcon .searchIconInside{
  width: 3.5rem;
}
.projectsSearchBox .inputWithIcon .form-control{
  padding-left: 3rem;
}
.projectsSearchBox .inputWithIcon .searchIconInside{
  background-size: 20px;
}
.btn-white:focus{
  box-shadow: none;
}
.btn.hasIcon{
  position: relative;
  padding-right: 40px;
}
.searchGroup .dropdown-toggle.hasIcon::after{
    right: 20px;
}
.filterDropdown .dropdown-menu{
  border-radius: 0px 0px 10px 10px;
  min-width: 100%;
  margin-top: -2px;
}
.filterDropdown .dropdown-item {
  padding: 0.5rem 1rem;
  color: #192447;
  font-size: 1rem;
  font-weight: 500;
}
.filterDropdown .dropdown-item img{
  width: 21px;
}
.haveIcon{
    background-image: url(../images/chevron-left.svg);
    background-repeat: no-repeat;
    background-position: center left 20px;
}
.inputWithIcon{
    position: relative;
}
.inputWithIcon .form-control {
    padding-right: 2.375rem;
}
.inputWithIcon.iconLeft .form-control {
    padding-left: 3rem;
    padding-right: inherit;
}

.inputWithIcon .searchIconInside {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 100%;
    pointer-events: none;
    color: #aaa;
    background: url(../images/icon-search.svg) no-repeat center center / 16px;
}
.inputWithIcon.iconLeft .searchIconInside{
    right: auto;
    left: 0;
}
.projectsSearchBox .form-control:focus{
  box-shadow: none;
}
.ui-widget.ui-widget-content{
  border-radius: 0px 0px 10px 10px;
  border: 0 !important;
  // width: calc(100% - 656px) !important;
  padding: 20px;
}
.ui-menu .ui-menu-item-wrapper, .ui-widget-content .ui-state-active{
  font-weight: 500!important;
  font-size: 14px !important;
  line-height: 21px;
  color: #000000 !important;
}
.ui-widget-content .ui-state-active {
  background-color: rgba(232, 89, 91, 0.05) !important;
  border-color: transparent !important;
}
// Body
section{
    padding-bottom: 70px;
}
section:last-child{
  padding-bottom: 0px;
}
.secGradient{
  position: relative;
}
section .header{
  padding-bottom: 30px;
}
section .header h3{
  margin-bottom: 0;
}
.pt90{
  padding-top: 90px;
}
.topspace{
  padding-top: 70px;
}
.body-wrapper{
    .row{
        margin-left: -25px;
        margin-right: -25px;
    }
    .row [class^="col-"]{
        padding-left: 25px;
        padding-right: 25px;
    }
}
.topProjectsHeader{
    max-width: 911px;
    padding-bottom: 62px;
    font-size: 1rem;
    line-height: 24px;
    p{
        margin-bottom: 0;
    }
}

.img-card{   
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    img{
        object-fit: cover;
        width: 100%;
        border-radius: 10px;
    }
    div{
        position: absolute;
        left: 0;
        bottom: -1px;
        width: 100%;
        padding: 16px;
        // background: linear-gradient(243.78deg, rgba(25, 37, 51, 0.29) 0%, rgba(255, 255, 255, 0.5) 67%);
        backdrop-filter: blur(5px);
        border-radius: 0px 0px 8px 8px;
        z-index: 1;
        color: $text-color-5;
        h4{
            font-weight: 700;
            font-size: 1.05469vw;
        }
        p{
          font-size: 0.625vw;
          line-height: .9375vw;
        }
    }    
}
.card1 div{
  background: linear-gradient(243.78deg, rgba(97, 120, 158, 0.4335) 0%, rgba(255, 255, 255, 0.85) 67%);
}
.card2 div{
  background: linear-gradient(243.78deg, rgba(25, 37, 51, 0.29) 0%, rgba(255, 255, 255, 0.5) 67%);
}
.chartBody{
    // background: $bg-gradient2;
    padding: 32px 32px 0 32px; 
    border-radius: 10px;
    
    .header{
        font-size: 1.25rem;
        padding-bottom: 28px;
        h3{
        font-weight: $font-weight-500;
        margin-bottom: 16px;
        }
        div{
            margin-left: 12px;
            margin-right: 12px; 
            font-weight: 400;
        }
        label{
            margin-bottom: 0;
            margin-right: 18px;
        }        
        .dropdown-toggle{
            color: $text-color-5;  
        }
        .dropdown-toggle:hover{
            text-decoration: none;
        }
        .dropdown-toggle::after{
            margin-left: 0;
        }        
    }
    .dropdown-menu {
        border-radius: 10px;
    }
    .dropdown-item {
        padding: 0.5rem 1rem;
        font-size: 0.875rem;
    }
    .chartTabs{
      margin-bottom: 50px;
    }
}
.tabsCustom a{
    margin: 0 4px;
}
.tabsCustom a.nav-link{
  background: rgba(174, 183, 216, 0.5);
    border-radius: 5px;    
    color: $text-color-2;
}
.tabsCustom a.nav-link:hover, .tabsCustom a.nav-link.active, .tabsCustom a.nav-link.download:focus{    
    background: $text-color-5;
    border-radius: 5px;
    color: $color-white;
}
.chartDesc{
  max-width: 1250px;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 27px;
  color: $text-color-7;
  margin-top: 35px;
  b{
    font-weight: 700;
  }
}

// City Card
.col-custom-5{
  flex: 0 0 20%;
  max-width: 20%;
  padding-left: 15px;
  padding-right: 15px;
}
.cityCard{
  margin: 0 auto;
  // margin-bottom: 30px;
  display: block;
  color: $text-color-5;
}
.cityCard:hover{
  text-decoration: none;
  color: $text-color-5;
}
.cityCardBody{
  background: $color-white;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  text-align: center;
}
.cityCardBody{
  background: linear-gradient(172.46deg, rgba(125, 126, 128, 0.8) 5.84%, rgba(255, 255, 255, 0.8) 93.41%);
  border-radius: 10px;
  padding: 22px;
}
.cityCardBody{
  img{
    background: $text-color-9;
    border: 0px solid $color-black;
    width: 100%;
    max-width: 120px;
    height: auto;
    border-radius: 120px;
    margin-bottom: 26px;
  }
  h5{
    font-size: 1rem;
  }
  p{
    margin-bottom: 0;
    font-size: .75rem;
    line-height: 19.68px;
    color: $text-color-8;
  }
}
@media (min-width: 1500px){
  .city-sec{
    .row{
        margin-left: -30px;
        margin-right: -30px;
    }
    .row [class^="col"]{
        padding-left: 30px;
        padding-right: 30px;
    }
  }
  .btn-red{
    width: 160px;
  }
}


.bodyContainer{
  // background: $bg-gradient2;
  padding: 32px 32px 0 32px; 
  border-radius: 10px;
  position: relative;
}
.bodyContainer::before, .secGradient::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-height: 289px;
  background: $bg-gradient2;
  border-radius: 10px;
  z-index: -1;
}
.cocumentation-sec{
  font-weight: 500;
  font-size: 1.375rem;
  line-height: 33px;
  text-align: justify;
  h3{
    font-size: 1.875rem;
  }
  p:not(:last-child){
    margin-bottom: 32px;
  }
}
.diagramImgWrap{
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
}
.tntro, .metho, .pTrends {
  position: absolute;
  width: 254px;
  height: 254px;
  display: inline-block;
  border-radius: 50%;
  font-size: 0px;
  z-index: 1;
}
.tntro {
  width: 272px;
  height: 272px;
  top: 0;
  left: 50%;
  transform: translateX(-44%);
}
.metho{
  bottom: 0;
  left: 0;
}
.pTrends{
  bottom: 0;
  right: 0;
}

.diagramImg{
  width: 100%;
  max-width: 1000px;
}
.explore-sec{
  padding-bottom: 109px !important;
  .header{
    margin-bottom: 20px;
    h3{
      font-size: 1.875rem;
    }
  p{
    font-size: 13px;
    font-weight: 400;
  }
}
}
.exploreInnerWrap{
  max-width: 1150px;
}
.otherProdCol{
  padding-left: 15px;
  padding-right: 15px;
}
.prodCardSml{
  width: 211px;
  height: 169px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  margin-bottom: 30px;
  .prodLogo{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 16px;
  }
  p{
    font-size: 13px;
  }
}

.innerSectionHeader{
  margin-top: 50px;
  .header{
    label{
      margin-bottom: 0;
      margin-right: 20px;
      font-size: 1.25rem;
      font-weight: 400;
    }
    span, .dropdown-toggle, .dropdown-toggle:hover{
      font-weight: 400;
      font-size: 1.25rem;
      color: $text-color-5;
      text-decoration: none;
    }
    .dropdown-menu{
      border-radius: 10px;
    }
    .dropdown-menu a{
      font-size: 0.875rem;
      padding: 0.5rem 1rem;
      font-weight: 500;
    }
    .border-h{
      height: 3px;
      width: 100%;
      background: rgb(176,179,211);
      background: linear-gradient(90deg, rgba(176,179,211,1) 0%, rgba(230,103,107,1) 100%);
      margin: 12px 0;
    }
  }
  .custom-radio label{
    font-size: 1rem;
    font-weight: 500;
  }
}

.formStyle1{
  padding: 28px 0 70px 0;
  .cardSize{
    min-width: 270px;
  }
  .card:not(:last-child){
    margin-right: 30px;
  }
 
  .card{     
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: 0;
    .card-header{
      font-weight: 500;
      font-size: 18px;
      line-height: 27px;
      color: $text-color-5;
      background: linear-gradient(0deg, #B3B0CE, #B3B0CE);
      border: 0;
      padding: 12px 16px;
    }
    .card-body{
      padding: 12px 16px;
      .icon{
        height: 32px;
      }
    }
    .form-control{
      border: 0;
      font-weight: 500;
      color: $text-color-7;
      font-size: 18px;
      padding: 0 0.75rem;
      height: auto;
    }
    .form-control:focus{
      box-shadow: none;
    }
  }
}
.trendIndex{
  .row{
    margin-left: -6px;
    margin-right: -6px;
  }
}
.chartLeft, .chartRight{
  padding-left: 6px;
  padding-right: 6px;
}
.chartInnerWrap{
  background: #FFFFFF;
  border: 1px solid #C4C1C1;
  box-shadow: 0px 8px 5px rgba(0, 0, 0, 0.25);
  padding: 24px;
  .btn{
    z-index: 1;
  }
}
.chartRight{
  flex: 0 0 300px;
  max-width: 300px;
}

.checkBtmSpace:not(:last-child){
  margin-bottom: 35px;
}
.cityNameCol {
  flex: 0 0 100px;
  width: 100px;
  color: $text-color-8;
}

// custom checkbox
.custom-checkbox .custom-control-label, .cityNameCol{
  font-weight: 500;
  font-size: 0.875rem;
}
.custom-checkbox .custom-control-label::before{
  width: 18px;
  height: 18px;
  border:2px solid $text-color-9;
  margin-top: -2px;
}
.custom-checkbox .custom-control-label::after {
  top: 0.2rem;
  left: -1.6rem;
  width: 1.35rem;
  height: 1.35rem;
  margin-top: -3px;
}
.custom-checkbox .custom-control-label::before{
  border-radius: 0;
  background: #FFFFFF;
  box-shadow: 0px 4px 4px $text-color-8;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before{
  color: #000;
  border-color: $text-color-9;
  background-color: #FFFFFF;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
  background-image: url(../images/tick-icon.svg);
}
.custom-checkbox .custom-control-input:focus~.custom-control-label::before{
  box-shadow: 0px 4px 4px $text-color-8;
  border-color: $text-color-9;
}
.custom-checkbox .custom-control-input:focus:not(:checked)~.custom-control-label::before{
  border-color: $text-color-9;
}

.light-purple .custom-control-label::before, 
.light-purple .custom-control-input:focus~.custom-control-label::before,
.light-purple .custom-control-input:checked ~ .custom-control-label::before,
.light-purple .custom-control-input:not(:disabled):active~.custom-control-label::before {
  background-color: #fff;
  box-shadow: 0px 4px 4px #C186F0;
  border-color: #B771EE;
}
.light-purple .custom-control-input:focus:not(:checked)~.custom-control-label::before{
  border-color: #B771EE;
}

.light-green .custom-control-label::before, 
.light-green .custom-control-input:focus~.custom-control-label::before,
.light-green .custom-control-input:checked ~ .custom-control-label::before,
.light-green .custom-control-input:not(:disabled):active~.custom-control-label::before {
  background-color: #fff;
  box-shadow: 0px 4px 4px #57F4DD;
  border-color: #24DEC3;
}
.light-green .custom-control-input:focus:not(:checked)~.custom-control-label::before{
  border-color: #24DEC3;
}

.light-red .custom-control-label::before, 
.light-red .custom-control-input:focus~.custom-control-label::before,
.light-red .custom-control-input:checked ~ .custom-control-label::before,
.light-red .custom-control-input:not(:disabled):active~.custom-control-label::before {
  background-color: #fff;
  box-shadow: 0px 4px 4px #F17579;
  border-color: #E6676C;
}
.light-red .custom-control-input:focus:not(:checked)~.custom-control-label::before{
  border-color: #E6676C;
}

.light-yellow .custom-control-label::before, 
.light-yellow .custom-control-input:focus~.custom-control-label::before,
.light-yellow .custom-control-input:checked ~ .custom-control-label::before,
.light-yellow .custom-control-input:not(:disabled):active~.custom-control-label::before {
  background-color: #fff;
  box-shadow: 0px 4px 4px #FBD13C;
  border-color: #FFD233;
}
.light-yellow .custom-control-input:focus:not(:checked)~.custom-control-label::before{
  border-color: #FFD233;
}

.light-blue .custom-control-label::before, 
.light-blue .custom-control-input:focus~.custom-control-label::before,
.light-blue .custom-control-input:checked ~ .custom-control-label::before,
.light-blue .custom-control-input:not(:disabled):active~.custom-control-label::before {
  background-color: #fff;
  box-shadow: 0px 4px 4px #899CE2;
  border-color: #778DDE;
}
.light-blue .custom-control-input:focus:not(:checked)~.custom-control-label::before{
  border-color: #778DDE;
}

/* Checkbox and Radio*/

.custom-radio{
  padding-left: 0;
}
.custom-radio .custom-control-label{
  padding-left: 1.75rem;
  color: $text-color-5;
  font-size: 1rem;
  font-weight: 500;
}
.custom-radio .custom-control-label::after {
  position: absolute;
  top: 0.29rem;    
  left: 0.32rem;
  display: block;
  width: 11px;
  height: 11px;
}
.custom-radio .custom-control-label::before{
  top: 0;
  left: 0rem;
  display: block;
  width: 21px;
  height: 21px;
  border: $color-black solid 2px;
}
.custom-radio .custom-control-input:checked~.custom-control-label::before{
  border-color: $color-black;
  background-color: transparent;
  border-width: 2px;
}
.custom-radio .custom-control-input:checked~.custom-control-label::after{
  background: $text-color-6;
  border-radius: 100%;
}
.custom-radio .custom-control-input:focus~.custom-control-label::before{
  box-shadow: none;
}
.custom-radio .custom-control-input:not(:disabled):active~.custom-control-label::before{
  background-color: transparent;
  border-color: $color-black;
}

.searchInfo{
  b{
    font-weight: 600;
  }
  border-color: $color-black;
  border-left: 1.5px solid #000000;
}

.searchPageHeader{
  font-size: 1rem;
  .sortBy{
    label{
      color: $text-color-8;
      font-size: 1rem;
    }
  }
}
.sortBy{
  a{
    color: $text-color-6;
    position: relative;
    padding-right: 22px;
    text-decoration: none;
    &:hover{
      color: $text-color-6;
      text-decoration: none;
    }
  }
}
.sortBy a.asc::after, .sortBy a.desc::after{
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  top: 50%;
  right: 0;
  transform: translateY(-50%);  
  z-index: 1;
  background: url(../images/arrow-up.svg) no-repeat center center / 100%;
}
.sortBy a.desc::after{
  transform: translateY(-50%) rotate(180deg);
}

.searchResultCard{
  background: #FFFFFF;
  border: 1px solid #C4C1C1;
  border-radius: 10px;
  padding: 10px 40px 10px 40px;
  margin-bottom: 45px;
  &:last-child{
    margin-bottom: 0;
  }
  .mediaBlk{
    flex: 0 0 6.67vw;
    margin-right: 2vw;
    background: $text-color-9;
    img{
      width: 100%;
      height: 100%;
    }
  }
  .searchCol{
    color: $text-color-5;
    font-weight: 500;
    // font-size: .9375vw;
    padding-right: 2.5vw;
    label{
      color: $text-color-8;
      margin-bottom: 12px;
      display: block;
      // font-size: .833331vw;
      font-weight: 400;
    }
    label.name{
      color: $text-color-5;
      font-weight: 500;
    }
    .location{
      color: $text-color-8;
      font-weight: 400;
      // font-size: .833331vw;
      font-size: .937vw;
    }
  }
  a{
    color: $color-blue;
    font-weight: 400;
    // font-size: .833331vw;
    font-size: .833331vw;
    line-height: normal;
  }
}
.searchCol:last-child{
  padding-right: 0;
}

.viewMoreBtn{
  height: 48px;
}
section.searchResultSec{
  padding-top: 50px;
  padding-bottom: 70px;
}

.linkTabs{
  background: $color-white;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 0 auto;
  padding: 5px 0;
  display: flex;
  align-items: center;
  a{
    padding: 16px 32px;
    display: inline-block;
    color: $text-color-5;
    &:hover{
      text-decoration: none;
    }    
  }
  li:not(:last-child){
    border-right: 1px solid #7D7E80;
  }
}
.bdyContent{
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: justify;
}
.bdyContent ul{
  font-size: 20px;
  li{
    margin-bottom: 16px;
  }
}
.pt-50{
  padding-top: 50px;
}
.pb-50{
  padding-bottom: 50px;
}
.pt-70{
  padding-top: 70px !important;
}
.pb-70{
  padding-bottom: 70px !important;
}
.py-70{
  padding-top: 70px;
  padding-bottom: 70px;
}
.pb-150{
  padding-bottom: 150px !important;
}

.font-size-26px{
  font-size: 26px;
}
.flow-chart-img{
  max-width: 900px;
}
.processFlowTbl{
  height: 560px;
}
.processFlowTbl thead th:first-child,
.processFlowTbl thead th:last-child{
  width: 125px;
}
.processFlowTbl.table-bordered td, .processFlowTbl.table-bordered th {
  border-color: $color-black;
}
.processFlowTbl.table-bordered th{
  border-bottom: 0;
  height: 60px;
}

 /* Footer */
 footer {
  font-family: $font-inter;
}
.footer-top {
  border-top: 9px solid $text-color-2;
  color: #7D7E80;
  padding-top: 74px;
}
.footerTopSpace {
  padding-top: 74px;
  padding-bottom: 62px;
}
.footerColSpace{
  padding-right: 4.17vw !important;
}
.footerLogo {
  max-height: 68px;
}
.footerLogoWrap{
  color: #455D76;
  span{
    border-left: 2px solid #455D76;
    font-weight: 400;
    font-size: 1rem;
  }
}
.footerSocials {
  font-size: 16px;
  span {
      color: $text-color-2;
  }
}
footer h3 {
  color: $text-color-2;
  font-size: 30px;
}

footer ul {
  margin: 0;
  padding: 0;
  li {
      margin-bottom: 1.5rem;
  }
  li:last-child {
    margin-bottom: 0;
  }

li a {
    font-size: 18px;
    font-weight: $font-weight-500;
    color: $text-color-2;
}
li a:hover {
  color: $text-color-2;
}
}

.footer-copyright {
  background: rgb(76,110,217);
  background: linear-gradient(90deg, #4c6ed9 -27.05%, #e8595b 124.92%);
  color: $color-white;
  font-size: 18px;
  font-weight: $font-weight-500;

  a {
      color: $color-black;
  }
}

.colWrap{
  display: flex;
  flex-direction: row;
}
.dd-h{
  max-height: 370px;
  overflow-y: auto;
}
.realtive{
  position: relative;
}

.topProjColWrap {
  flex-wrap: wrap;
  display: flex;
  margin-left: -1.7965%;
  margin-right: -1.7965%;
}

.topProjCol {
  width: 25%;
  padding-left: 1.7965%;
  padding-right: 1.7965%;
}
.citysColWrap {
  flex-wrap: wrap;
  display: flex;
  margin-left: -2.251%;
  margin-right: -2.251%;
}
.citysCol {
  width: 20%;
  padding-left: 2.251%;
  padding-right: 2.251%;
  padding-bottom: 4.402%;
}

// Bootstrap override Responsive


@media (min-width: 1200px){
  .container{
    max-width: 1140px;
  }
    // .headerSearch{
    //   max-width: calc(100% - 30rem);
    // }
    .city-sec .row{
      margin-right: -15px;
      margin-left: -15px;
    }
    .city-sec .row [class^=col]{
      padding-left: 15px;
      padding-right: 15px;
    }
    .cityCard {
      // width: 195px;
      // height: 195px;
      margin: 0 auto;
      // margin-bottom: 30px;
      display: block;
      color: #192447;
  }
    .cityCardBody{
      padding: 15px;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      img{        
        width: 100%;
        max-width: 92px;
        height: auto;        
        margin-bottom: 10px;
      }
      .cardDesc{
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
      }
    }
    .tntro, .metho, .pTrends {
      width: 230px;
      height: 230px;
    } 
    .chartDesc{
      padding: 0 70px;
    }
    .searchCol{
      font-size: .937vw;
      label{    
        font-size: .75rem;
      }
    }
    .moreCol{
      margin-left: 3.5vw;
    }
}
@media (min-width: 1360px){  
  .container{
    max-width: 1140px;
    padding: 0;
  }
  .cityCardBody{
    img{        
      max-width: 97px;
    }
  }
  // .tntro, .metho, .pTrends {
  //   width: 250px;
  //   height: 250px;
  // } 
}
@media (min-width: 1536px){
  .container {
    max-width: calc(100% - 28.125rem);
    padding: 0;
  }
  
  .cityCardBody img {
    max-width: 88px;
  }
 
}
@media (min-width: 1900px){
    
    .city-sec .row{
      margin-right: -30px;
      margin-left: -30px;
    }
    .city-sec .row [class^=col] {
      padding-left: 30px;
      padding-right: 30px;
  }
  .cityCardBody{
    padding: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{        
      width: 100%;
      max-width: 134px;
      height: auto;        
      margin-bottom: 30px;
    }
  }
  .tntro {
    width: 270px;
    height: 270px;
  }
  .diagramImgWrap {
    max-width: 1130px;
  }
  .diagramImg {
    max-width: 1130px;
  }
  .chartDesc{
    padding: 0 ;
  }
  .searchCol{
    
    label{    
      font-size: 1rem;
    }
    a{
      line-height: 25px;
    }
  }
  .moreCol{
    margin-left: 3.75vw;
  }
}

