
@{
    ViewBag.Title = "City List";
}
@Html.Action("_Searchview", "Home")
<div class="mainbodyWrap d-flex flex-column flex-1">
    <div class="container flex-1">
        <div class="innerSectionHeader searchPageHeader d-flex" id="CitySortandFilter">
            <a href="@Url.Action("Index","Home")" class="mr-2 pt-2"><img src="~/images/chevron-left.svg" alt=""></a>
            <div class="header flex-1 d-flex flex-column">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="d-flex align-items-center">
                        <h3 class="mb-0" id="CitylistHeading"></h3>
                        <div class="ml-3 pl-2 text20px font-w-400 searchInfo" id="CityPaginationText">
                        </div>
                    </div>

                    @*<div class="d-flex align-items-center">
                            <div class="custom-control custom-radio ">
                                <input type="radio" class="custom-control-input" id="Pincodes" value="projects" name="projects-search" checked="">
                                <label class="custom-control-label pointer" for="projects">Projects</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="locations" value="locations" name="projects-search">
                                <label class="custom-control-label pointer" for="locations">Locations</label>
                            </div>
                            <div class="custom-control custom-radio">
                                <input type="radio" class="custom-control-input" id="pincodes" value="pincodes" name="projects-search">
                                <label class="custom-control-label pointer mr-0" for="pincodes">Pincodes</label>
                            </div>
                        </div>*@
                </div>
                <div class="border-h"></div>
                <div class="d-flex align-items-center justify-content-end">
                    <div class="mr-1 sortBy">Sort by :</div>
                    <div class="d-flex mr-3" id="CitynameSortID">
                        <a href="javascript:void(0)" class="pr-0" onclick="CityNameSortclick()">Name</a>
                        <a href="javascript:void(0)" class="" onclick="CityNameSortclick(event)" id="CityNameSortIcon"></a>
                    </div>
                    <div class="d-flex mr-3" id="CityCurrRateSortID">
                        <a href="javascript:void(0)" class="pr-0" onclick="CityCurRateSortclick()">Current Rate</a>
                        <a href="javascript:void(0)" class="" id="CityCurRateSortIcon" onclick="CityCurRateSortclick(event)"></a>
                    </div>
                    <div class="d-flex mr-3" id="CityyoySortID">
                        <a href="javascript:void(0)" class="pr-0" onclick="CityYoySortclick()">YoY Change(%)</a>
                        <a href="javascript:void(0)" class="" id="CityYoySortIcon" onclick="CityYoySortclick(event)"></a>
                    </div>
                    <div class="d-flex mr-3" id="CityCAGR3YSortID">
                        <a href="javascript:void(0)" class="pr-0" onclick="Citycagr3ySortclick()">CAGR (3Y)</a>
                        <a href="javascript:void(0)" class="" id="Citycagr3ySortIcon" onclick="Citycagr3ySortclick(event)"></a>

                    </div>
                    <div class="d-flex mr-0" id="CityCAGR5YSortID">
                        <a href="javascript:void(0)" class="pr-0" onclick="Citycagr5ySortclick()">CAGR (5Y)</a>
                        <a href="javascript:void(0)" class="" id="Citycagr5ySortIcon" onclick="Citycagr5ySortclick(event)"></a>
                    </div>
                </div>

            </div>
        </div>

        <section class="searchResultSec">

            <div id="CityList">

            </div>
            <div class="text-center mt-5">
                <button class="btn btn-red rounded-0 viewMoreBtn" onclick="CityViewmoreListClick()" id="CityviewmoreList">View more</button>
            </div>
        </section>
    </div>
</div>




@section scripts{


    <script src="~/Scripts/PageLavel/List/CityList.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var selectedFilter;
            var _filterSelected = localStorage.getItem('ShortcutFilter');

            if (_filterSelected != null) {
                selectedFilter = JSON.parse(_filterSelected);
            }
            if (selectedFilter != null) {
                CityListModule.init(selectedFilter.sortby, selectedFilter.orderby);
            }
            else {
                CityListModule.init("name", "asc");
            }

            $('#overlay').fadeOut();

        });
    </script>



}
