
@{
    ViewBag.Title = "Location List";
}
<section>
    <div class="mainbodyWrap d-flex flex-column flex-1">
        <div class="container flex-1">
            <div class="innerSectionHeader d-flex">
                <a href="@Url.Action("Index","Home")" class="mr-2 pt-2"><img src="~/images/chevron-left.svg" alt=""></a>
                <div class="header flex-1">
                    <span id="LocationlistHeading" class="h3 font-weight-bold"></span>
                    <span> | </span>
                    <span id="LocationPaginationText"></span>
                    <div class="d-flex justify-content-end">
                        <div class="d-flex mr-3">
                            <label class="mr-1" onclick="LocationNameSortclick()" id="LocationnameSortID">Name</label><i class="" id="LocationNameSortIcon" onclick="LocationNamesortIconClick(event)"></i>
                            @*<span class="color-red">Rs 7,945/ sq.ft</span>*@
                        </div>
                        <div class="d-flex mr-3">
                            <label class="mr-1" onclick="LocationCurRateSortclick()" id="LocationCurrRateSortID">Current Rate</label><i class="" id="LocationCurRateSortIcon" onclick="LocationCurRateIconClick(event)"></i>
                            @*<span class="color-red">10%</span>*@
                        </div>
                        <div class="d-flex mr-3">
                            <label class="mr-1" onclick="LocationYoySortclick()" id="LocationyoySortID">YoY Change(%)</label><i class="" id="LocationYoySortIcon" onclick="LocationyoyIconClick(event)"></i>
                            @*<span class="color-red">10%</span>*@
                        </div>
                        <div class="d-flex mr-3">
                            <label class="mr-1" onclick="Locationcagr3ySortclick()" id="LocationCAGR3YSortID">CAGR (3Y)</label><i class="" id="Locationcagr3ySortIcon" onclick="Locationcagr3yIconClick(event)"></i>
                            @*<span class="color-red">10%</span>*@
                        </div>
                        <div class="d-flex mr-3">
                            <label class="mr-1" onclick="Locationcagr5ySortclick()" id="LocationCAGR5YSortID">CAGR (5Y)</label><i class="" id="Locationcagr5ySortIcon" onclick="Locationcagr5yIconClick(event)"></i>
                            @*<span class="color-red">10%</span>*@
                        </div>

                    </div>
                    <div class="border-h"></div>

                </div>
            </div>
            @*<div class="card my-3">
                    <div class="row no-gutters">
                        <div class="col-1">
                            <img class="card-img rounded-circle" src="~/images/Bangalore.png">
                        </div>
                        <div class="col-2">
                            <div class="card-body">
                                <h5 class="card-title">Name</h5>
                                <p class="card-text">Kandivali (West) Mumbai</p>

                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card-body">
                                <span class="card-title">Rate in Dec'22</span>
                                <p class="card-text">Rs 12000 Sq/ft</p>

                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card-body">
                                <span class="card-title">YOY Change</span>
                                <p class="card-text">Rs 12000 Sq/ft</p>

                            </div>
                        </div>
                        <div class="col-1">
                            <div class="card-body">
                                <span class="card-title">CAGR 3Y</span>
                                <p class="card-text">10</p>

                            </div>
                        </div>
                        <div class="col-1">
                            <div class="card-body">
                                <span class="card-title">CAGR 5Y</span>
                                <p class="card-text">Rs 12000 Sq/ft</p>

                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card-body">
                                <span class="card-title">Project Status</span>
                                <p class="card-text">Rs 12000 Sq/ft</p>

                            </div>
                        </div>
                        <div class="col-1">
                            <div class="card-body">
                                <button>View trends</button>

                            </div>
                        </div>
                    </div>
                </div>*@

            <div id="LocationList">
                @*<div class="card mb-3">
                        <div class="row">
                            <div class="col-1">
                                <img class="card-img" src="~/images/Bangalore.png" style="height:100px;width:100px">
                            </div>
                            <div class="col-11">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-1">

                                <img class="card-img" src="~/images/Bangalore.png" style="height:100px;width:100px">
                            </div>
                            <div class="col-11">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-1">

                                <img class="card-img" src="~/images/Bangalore.png" style="height:100px;width:100px">
                            </div>
                            <div class="col-11">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>




        </div>
        <div class="text-center">
            <button class="btn btn-red rounded-0" onclick="LocationViewmoreListClick()" id="LocationviewmoreList">View more</button>
        </div>
    </div>
</section>



@section scripts{


    <script src="~/Scripts/PageLavel/List/LocationList.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            var selectedFilter;
            var _filterSelected = localStorage.getItem('ShortcutFilter');

            if (_filterSelected != null) {
                selectedFilter = JSON.parse(_filterSelected);
            }
            if (selectedFilter != null) {
                LocationListModule.init(selectedFilter.sortby, selectedFilter.orderby);
            }
            else {
                LocationListModule.init("name", "asc");
            }
            $('#overlay').fadeOut();


        });
    </script>



}
