
@{
    ViewBag.Title = "Pincode List";
}
<section>
    <div class="container">
        <div class="row my-4">
            <div id="List">
                @*<div class="card mb-3">
                        <div class="row">
                            <div class="col-1">
                                <img class="card-img" src="~/images/Bangalore.png" style="height:100px;width:100px">
                            </div>
                            <div class="col-11">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-1">

                                <img class="card-img" src="~/images/Bangalore.png" style="height:100px;width:100px">
                            </div>
                            <div class="col-11">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-1">

                                <img class="card-img" src="~/images/Bangalore.png" style="height:100px;width:100px">
                            </div>
                            <div class="col-11">
                                <div class="card-body">
                                    <h5 class="card-title">Card title</h5>
                                    <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                    <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                                </div>
                            </div>
                        </div>
                    </div>*@
            </div>



        </div>
    </div>
    <div class="text-center">
        <button class="btn btn-red rounded-0" onclick="viewmoreListClick()" id="viewmoreList">View more</button>
    </div>
</section>



@section scripts{

    <script src="~/Scripts/PageLavel/List.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            ListModule.init();

        });
    </script>



}
