
@{
    ViewBag.Title = "Project List";
}
<section>
    <div class="mainbodyWrap d-flex flex-column flex-1">
        <div class="container flex-1">
            <div class="innerSectionHeader d-flex">
                <a href="@Url.Action("Index","Home")" class="mr-2 pt-2"><img src="~/images/chevron-left.svg" alt=""></a>
                <div class="header flex-1">
                    <span id="ProjectlistHeading" class="h3 font-weight-bold"></span>
                    <span> | </span>
                    <span id="ProjectPaginationText"></span>
                    <div class="d-flex justify-content-end">
                        <div class="d-flex mr-3">
                            <label class="mr-1" onclick="ProjectNameSortclick()" id="ProjectnameSortID">Name</label><i class="" id="ProjectNameSortIcon" onclick="ProjectNamesortIconClick(event)"></i>
                            @*<span class="color-red">Rs 7,945/ sq.ft</span>*@
                        </div>
                        <div class="d-flex mr-3">
                            <label class="mr-1" onclick="ProjectCurRateSortclick()" id="ProjectCurrRateSortID">Current Rate</label><i class="" id="ProjectCurRateSortIcon" onclick="ProjectCurRateIconClick(event)"></i>
                            @*<span class="color-red">10%</span>*@
                        </div>
                        <div class="d-flex mr-3">
                            <label class="mr-1" onclick="ProjectYoySortclick()" id="ProjectyoySortID">YoY Change(%)</label><i class="" id="ProjectYoySortIcon" onclick="ProjectyoyIconClick(event)"></i>
                            @*<span class="color-red">10%</span>*@
                        </div>
                        <div class="d-flex mr-3">
                            <label class="mr-1" onclick="Projectcagr3ySortclick()" id="ProjectCAGR3YSortID">CAGR (3Y)</label><i class="" id="Projectcagr3ySortIcon" onclick="Projectcagr3yIconClick(event)"></i>
                            @*<span class="color-red">10%</span>*@
                        </div>
                        <div class="d-flex mr-3">
                            <label class="mr-1" onclick="Projectcagr5ySortclick()" id="ProjectCAGR5YSortID">CAGR (5Y)</label><i class="" id="Projectcagr5ySortIcon" onclick="Projectcagr5yIconClick(event)"></i>
                            @*<span class="color-red">10%</span>*@
                        </div>

                    </div>
                    <div class="border-h"></div>

                </div>
            </div>           

            <div id="ProjectList">
                
            </div>




        </div>
        <div class="text-center">
            <button class="btn btn-red rounded-0" onclick="ProjectViewmoreListClick()" id="ProjectviewmoreList">View more</button>
        </div>
    </div>
</section>



@section scripts{

    <script src="~/Scripts/PageLavel/ProjectList.js"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function () {
            ProjectListModule.init("name","asc");
            $('#overlay').fadeOut();

        });
    </script>



}
