

<div class="headerSearch mx-auto">
    <div class="d-flex align-items-center">
        <div class="searchGroup d-flex align-items-center flex-1 mr-2">
            <div class="projectsSearchBox flex-1 ">
                <div class="form-group inputWithIcon iconLeft mb-0">
                    <span class="searchIconInside"></span>
                    <input type="text" id="SelectedSearch" name="SelectedSearch" class="form-control border-0" placeholder="Search any Project, Pincode, Location or City in India">
                    
                </div>
            </div>
            <div class="filterDropdown border-left">
                <div class="dropdown">
                    <button class="btn btn-white dropdown-toggle hasIcon w-100 text-left" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">
                        <span id="selectedSearchType"></span><span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <li><a href="javascript:void(0)" class="dropdown-item"><img src="~/images/icon-home.svg" alt="" class="mr-2">Projects</a></li>
                        <li><a href="javascript:void(0)" class="dropdown-item"><img src="~/images/icon-office.svg" alt=""class="mr-2">Pincode</a></li>
                        <li><a href="javascript:void(0)" class="dropdown-item"><img src="~/images/icon-store.svg" alt=""class="mr-2">Location</a></li>
                        <li><a href="javascript:void(0)" class="dropdown-item"><img src="~/images/icon-store.svg" alt=""class="mr-2">City</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <button class="btn btn-red" id="Search">Search</button>
    </div>
</div>